<script>
	import { curRoute } from '../store'

   export let page

	function navigateTo(event) {
		curRoute.set(event.target.pathname)
		window.history.pushState({path: page.path}, '',
		   window.location.origin + page.path)
	}
</script>

<style>
	a {
		color: #333333;
	}
</style>

<a href={page.path} on:click|preventDefault={navigateTo}>{page.name}</a>
