<script>
   import { onDestroy, onMount } from 'svelte'
   import { curRoute } from '../store'
   import router from './router'
   let component
   let route
   const props = ''
   
   const unsubscribe = curRoute.subscribe(() => {
      route = router.filter(route => route.path === $curRoute).pop()
      //props = route.path.includes('galleries/') ?
      //         route.path.split('galleries/').pop() :
      //         route.path.split('/').pop()
      component = route.component
   })
   
   onMount(() => {
      curRoute.set(window.location.pathname);
      if (!history.state) {
         window.history.replaceState(
            {path: window.location.pathname}, '', window.location.href
         )
      }
   })
              
   onDestroy(unsubscribe)
</script>

<svelte:window on:popstate={(event) => curRoute.set(event.state.path)} />
<div class="main-container">
     <svelte:component this={component} {props}/>
</div>
