<img src="IMG_1869.jpeg" alt="oddx smiling, leaning out a car window">
<h2 class="route-header">...Who's oddx?</h2>
<p class="route-content">I leverage simplicity and clarity to create websites for businesses and entrepreneurs serving as powerful virtual lobbies for their customers.</p>
