<img src="IMG_3343.jpeg" alt="Mt. Hood with a lake in the foreground">

<h2 class="route-header">We'll be in touch</h2>

<form on:submit|preventDefault={handleSubmit} on:submit|preventDefault>
   <div class="submit-container">
      <label for="Name">Name</label>
      <input class:name={name && contact && msg} bind:value={name} placeholder="Name" id="Name"/>
      {#if name && contact && msg}
         <button class="submit" type="submit">Submit</button>
      {/if}
   </div>
   <label for="NumberOrEmail">Number or email</label>
   <input bind:value={contact} placeholder="Number or email" id="NumberOrEmail"/>
   <label for="ServicesNeeded">Services Needed</label>
   <textarea bind:value={msg} placeholder="Services needed" rows="4" columns="50" id="ServicesNeeded"/>
</form>
<div class="email-container">
   <div class="email-group">
      <p>Or email </p> <a href=mailto:me@oddx.xyz>me@oddx.xyz!</a>
   </div>
</div>

<script>
   let name
   let contact
   let msg

   const handleSubmit = () => {
      alert('submitted ' + name + ' @ ' + contact + ' for ' + msg)
   }
</script>

<style>
   input, textarea, button {
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      background-color: var(--secondary-color);
      margin: 0 0 .7em 0;
      padding: .375em;
      width: 100%;
   }

   a, p {
      text-align: center;
      font-size: 24px;
      color: black;
      text-decoration: none;
      display: inline;
   }
   
   ::placeholder {
      color: #000000;
      opacity: 1;
   }

   .submit-container, .email-container {
      display: flex;
      align-items: center;
   }

   .submit-container {
      justify-content: space-between;
   }

   .email-container {
      justify-content: center;
   }
   
   .submit {
      background-color: var(--tertiary-color);
      width: 30%;
   }

   .name {
      width: 65%;
   }
</style>
