<img src="IMG_3163.jpeg" alt="mountains and sand dunes converging">
<h2 class="route-header">You need:</h2>
<div class="services-container">
   <p class="route-content">Hosting</p>
   <p class="route-content">A domain</p>
   <p class="route-content">A fresh website</p>
</div>
<h2 class="route-header">Not sure?</h2>
<p class="route-content">That's alright, We'll figure it out!</p>

<style>
   .services-container {
      margin: 0 0 1em 0;
   }
</style>
