<div class="navbar-container">
   <a href="/about">About</a>
   <a href="/services">Services</a>
   <a href="/contact">Contact</a>
</div>

<style>
   * {
      margin: 0 auto;
   }

   .navbar-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: var(--secondary-color);
      display: flex;
      margin: 0 0 1em 0;
      justify-content: space-between;
      border-radius: 5px;
   }

   a {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      color: #000000;
   }

   a:hover {
      cursor: pointer;
      opacity: .5;
   }

   @media screen and (max-width: 500px) {
      .navbar-container {
         max-width: 300px;
      }
   }
   
   @media screen and (min-width: 500px) {
      .navbar-container {
         width: 70%;
      }
   }

   @supports (backdrop-filter:none) {
      .navbar-container { backdrop-filter: blur(4px); }
   }
   @supports (-webkit-backdrop-filter:none) {
      .navbar-container { -webkit-backdrop-filter: blur(4px); }
   }
</style>
