<div class="titlebar-container">
   <p>oddx</p>
</div>

<style>
   * {
      margin: 0 auto;
   }

   .titlebar-container {
      background: var(--secondary-color);
      display: flex;
      margin: 0 0 1em 0;
      justify-content: space-between;
      border-radius: 5px;
   }

   p {
      font-size: 64px;
      font-weight: 200;
      text-align: center;
      line-height: 1.1;
   }

   @media screen and (min-width: 500px) {
      .titlebar-container {
         margin: 0 0 2em 0;
      }
   }
</style>
