<script>
   import Route from './lib/Route.svelte'
   import Nav from './components/Nav.svelte'
   import TitleBar from './components/TitleBar.svelte'
</script>

<div class="prime-container">
   <TitleBar />
   <div class="content-container">
      <Route />
   </div>
   <Nav />
</div>

<style>
   .prime-container {
      max-width: 300px;
   }

   @media screen and (max-width: 500px) {
      .prime-container {
         max-width: 300px;
      }
   }
   
   @media screen and (min-width: 500px) {
      .prime-container {
         max-width: 70%;
      }
   }
   
   @media screen and (min-width: 2000px) {
      .prime-container {
         max-width: 1500px;
      }
   }
   
   :global(@font-face) {
      font-family: 'Saira';
      src: url('../fonts/Saira-Thin.otf');
      font-weight: 200;
      font-display: swap;
   }

   :global(@font-face) {
      font-family: 'Saira';
      src: url('../fonts/Saira-Light.otf');
      font-weight: 400;
      font-display: swap;
   }

   :global(@font-face) {
      font-family: 'Saira';
      src: url('../fonts/Saira-Regular.otf');
      font-weight: 600;
      font-display: swap;
   }

   :global(:root) {
      --secondary-color: rgba(211,211,211,0.5);
   }

   :global(*) {
      margin: 0 auto;
   }

   :global(html) {
   	width: 100%;
      font-family: 'Saira';
   	position: relative;
   }

   :global(img) {
      border-radius: 5px;
      width: 100%;
      margin: 0 0 .5em 0;
   }

   @media screen and (max-width: 500px) {
      img {
         position: relative;
         left: 50%;
         margin-left: -50vw;
         width: 100vw;
      }
   }

   @media (prefers-color-scheme: dark) {
      :global(body) {
         background: radial-gradient(63.49% 28.45% at 0% 0%, #34ADC5 0%, rgba(0, 213, 255, 0) 100%),
         linear-gradient(180deg, #473A4A 45.14%, #2E2E2E 95.87%);
      }
      
      :global(.content-container) {
         color: #D3D3D3;
      }

      :global(:root) {
         --tertiary-color: #93ABC5;
      }
   }

   @media (prefers-color-scheme: light) {
      :global(body) {
         background: linear-gradient(180deg, #E6E6E6 45.32%, #E7E0E9 95.63%);
      }

      :global(:root) {
         --tertiary-color: #c6d1dd;
      }
   }

   :global(.content-container) {
      margin: 0 0 4em 0;
   }

   :global(.route-content) {
      font-size: 24px;
      text-align: center;
   }

   :global(.route-header) {
      font-size: 32px;
      text-align: center;
      margin: 0 0 .25em 0;
   }

   :global(label) {
      display: none;
   }
</style>
